<!-- <h1 class="bg-red">Angular</h1>
<courses></courses>
<Author></Author>
<Employee></Employee>
<Favorite [is-Favorite] ="post.isFavorite" (change)= "onFavoriteChanged()"></Favorite>
<panel>
  <ng-container class="heading">Heading</ng-container>
  <div class="body">
    <h2>Body</h2>
    <p>Some Text goes here .....</p>
  </div>
</panel>
<div *ngIf="radioData.length > 0; then courseData else NocourseData "></div> 
<ng-template #courseData>
  List of Radio Data
</ng-template>
<ng-template #NocourseData>
  No radio Data Avilable
</ng-template>
<h1 [hidden] ="radioData.length > 0">Hello world</h1>

<ul class="nav nav-pills">

<li [class.active]="viewMode == 'map'"><a (click)="viewMode == 'map'" > Map View </a></li>
<li [class.active]="viewMode == 'list'"><a (click)="viewMode == 'list'" > List View </a></li>
</ul>
<div [ngSwitch]= "viewMode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>Oher Content</div>
</div>

<h1>Class Data</h1>
<button (click)="onAdd()">Add</button>
<ul>
	<li *ngFor="let class of classes">
    {{class.name }}
    <button (click)= "onRemove(class)">Remove</button>
  </li>
</ul> -->
<!-- <app-posts></app-posts> -->
<!-- <app-albums></app-albums> -->
<!-- <app-add-list></app-add-list> -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active current"><a routerLink="/page-1" routerLinkActive="active current">Page-1</a></li>
        <li routerLinkActive="active current"><a routerLink="/page-2" routerLinkActive="active current">Page-2</a></li>
        <li routerLinkActive="active current"><a routerLink="/courses" routerLinkActive="active current">Courses</a></li>
        <li routerLinkActive="active current"><a routerLink="/employee" routerLinkActive="active current">Employees</a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>