<p>
posts works! hello world
</p>
 <input (keyup.enter)="createPost(event)" #title type="text" class="form-control" placeholder="Titile of New Post">
<ul class="list-group">
  <li class="list-group-item" *ngFor="let post of posts">
    <button class="btn btn-deafult btn-sm" (click)="updatePost(post)">
      update
    </button>
     <button class="btn btn-deafult btn-sm" (click)="deletePost(post)">
      Delete
    </button>
        {{post.title}}
  </li>
</ul>

<!-- <div class="table-responsive"> 
<table class="table table-bordered" cellpadding="5px" cellspacing="5px" border="2">
  <tr *ngFor="let post of posts">
    <td>
        {{post.userId}}
    </td>
      <td>
        {{post.id}}
    </td>
    <td>
        {{post.title}}
    </td>
     <td>
        {{post.body}}
    </td>
  </tr>
</table>

</div> -->
